<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.lang }}">

<section class="header">
    <div class="container">
        <div class="content">
            <a href="/" title="avatar"><div id="avatar-image" alt="avatar"></div></a>
            <a href="/"><div class="name">Aaron Batalion</div></a>
            <nav>
                <ul>
                    {{ range .Site.Menus.main }}
                        <li class="nav-{{ .Identifier }}"><a href="{{ .URL | absLangURL }}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</section>
{{ partial "social-links.html" . }}
