{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ if .Content }}
            <div class="markdown">
                {{ .Content }}
            </div>
            {{ end }}
            <div class="page-heading">{{ i18n "latestPosts" }}</div>
            <ul>
                {{ range $.Site.Data.medium.posts }}
                <li class="post-item">
                  <span class="meta"><time datetime='{{ dateFormat "2006-01-02" .date  }}'>{{ dateFormat "Jan 2006" .date  }}</time></span>
                  <a href="{{ .url }}"><span>{{ .title }}</span></a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
</section>
{{ partial "footer.html" . }}

